.carousel{
    width: 100%;
    padding: 0 2%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 5rem;

    
    &__container{
        display: flex;
    }
    &__button{
        position: absolute;
        outline: none;
        border: none;
        background: none;
        color: rgba(128, 128, 128, 0.418);
        right: 2%;
        bottom: 0%;
        font-size: 3rem;
        transition: 0.4s all ease;
        &:active{
            transform: scale(0.95);
        }
    }
}
.prev{
    margin-right: 5rem;
}

.proofSlide{
    display: grid;
    grid-row-gap: 3vh;
    min-width: 90vw;
    &__quote{
        font-size: 2rem;
        color: $heading-color;
    }
    &__text{
        text-align: left;
    }
}

.proofAuthor{
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 2%;
    align-items: center;

    &__name{
        font-size: 1.6rem;
        line-height: 1.5;
        color: $heading-color;
    }
    &__job{
        font-size: 1.2rem;
        color: $heading-color;
    }
}

