.sectionIntro{
    display: grid;
    text-align: center;
    grid-row-gap: 1rem;
    margin: 5rem 0;
    &--left{

        text-align:left;
  
    }

    &__icon--center{
        justify-self: center;
    }
    &__discover{
        color: $grey-color;
        text-transform: uppercase;
        font-size: 1.3rem;

    }
    &__title{
        font-size: 2.3rem;
        text-align: center;
        color: $heading-color;
        &--left{
            text-align: left;
        }
    }
}