.sectionIntro {
    display: grid;
    text-align: center;
    grid-row-gap: 1.5rem;
    margin: 5rem 0 0rem 0;

    &--left {
        text-align: left;
    }

    &__icon--center {
        justify-self: center;
    }

    &__discover {
        color: $grey-color;
        text-transform: uppercase;
    }

    &__title {
        text-align: center;
        color: $heading-color;
        &--left {
            text-align: left;
        }
    }

    &__callNow {
        color: #97ccfe;
        font-weight: 500;
    }

    &__number {
        color: #0b1033;
        font-weight: 500;
    }
}