.sectionIntro{
    display: grid;
    justify-items: center;
    grid-row-gap: 10%;
    &--left{
        margin-left: 5vw;
        justify-items: left;
        margin-top: 5rem;
    }

    &__icon{

    }
    &__discover{
        color: $grey-color;
        text-transform: uppercase;
        font-size: 1.3rem;

    }
    &__title{
        font-size: 2.3rem;
        text-align: center;
        color: $heading-color;
        &--left{
            text-align: left;
        }
    }
}