@mixin menuMobile {


    flex-direction: column;
    list-style: none;
    width: 100%;
    display: none;


    &__item {
        flex-grow: 1;
        display: block;
        text-align: center;
        text-transform: uppercase;
        background: black;
        min-height: 12vh;
        &--droplist {}
    }

    &__link {
        cursor: pointer;
        height: 12vh;
        display: grid;
        align-items: center;
        &--droplink {
            background: rgb(37, 36, 36);
        }
    }

}

@mixin menuLink {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

@mixin menuLinkMobile {
    &__link {
        height: 10vh;
        display: flex;
        justify-content: left;
        padding-left: 5%;
        text-transform: uppercase;
        font-family: $Font-one;
        font-weight: 500;
        background: rgb(0, 0, 0);
        color: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.452);
        
    }

}