.features{
 display: grid;
 grid-row-gap: 10vh;
}
.featuresBox{
    display: grid;
    grid-row-gap: 10vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__icon{
        height: 80px;
    }

    &__heading{
        font-family: $Font-one;
        color: $heading-color;
        font-size: 2rem;
        line-height: 2.5;
    }

    &__description{
        width: 70%;
        max-width: 350px;
        text-align: center

    }
}