.footer{
    
}

.widget{
    display: grid;
    background: url('/src/img/footer-bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 3rem 10%;
    grid-row-gap: 2rem;
    

    &__column{
        display: flex;
        flex-direction: column;
    }

    &__logo{
        margin-bottom: 3rem;
        align-self: flex-start;
        padding: 0;
        color: #fff;
    }
    &__text{
        color: #fff;
    }
    &__title{
        
        color: #fff;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: left;
    }

    &__gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;

        
    }
    &__form{
        display: grid;

        
    }
    &__input{
        height: 2.2rem;
        padding: 0 1rem;
    }
    &__button{
        margin-top: 1rem;
        justify-self: left;
        
    }
}

.instagramPhotos{
    &>img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.social{
    background-color:#11173b;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    
    &>i{
        color: #575d7e;
        transition: 0.2s color ease;
        font-size: 1.5rem;
        // &:hover{
        //     color: #b2b5c9;
        // }
    }
}