.header {
    width: 100vw;

}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
 

    &__logo {

        height: 10vh;
        display: flex;
        align-items: center;
        color: black;
        font-size: 3.2rem;
        font-family: $Font-one;
        padding-left: 5%;
    }

    @media (max-width:991px){
        align-items: center;

    }
}

.menu {
    @media (max-width:991px){
        @include menuMobile;
        height: 50vh;
        overflow-y: scroll;
    
        &__item {
            border-bottom: 1px solid rgba(219, 219, 219, 0.068);
        }

    }

    @media (min-width: 992px) {

        display: flex;
        justify-content: space-around;
        width: 70%;
        padding-right: 5%;
        font-family: $Font-one;
        font-weight: bold;
        font-size: 1.6rem;
        text-transform: uppercase;
      

        &__item {
            display: inline-block;

            &--droplist{
                position: relative
            }
        }

        &__link {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
        }
    }



}

.menu-dropdown {
    @media (max-width:991px){
        @include menuMobile;
    
        &__item {
            border-top: 1px solid rgba(219, 219, 219, 0.068);
        }
    }
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: none;
    width: 20vw;
    text-transform: capitalize;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.918);
    color: white;

    &__item {
        list-style: none;
        
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        margin: 3vh 0;
        width: 100%;
        cursor: pointer;
    }



}